# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pycache/

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# IDE/editor
.vscode/
.idea/

# Logs
*.log
